.data-table {
	width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
}
.data-table td {
    padding: 7px;
    font-size: 14px;
}
.data-table td.label {
	font-weight: bold;
    background-color: #EFEFF0;
}
.data-table td.placer {
    border-bottom: 1px solid #000000;
    height: 20px;
}
.sub-data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}
